@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Montserrat+Alternates&family=Patrick+Hand&display=swap');

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Cookie', cursive;
    font-weight: normal;
    font-style: normal;
    color: black;  
    text-align: center;
    font-size: 100px;
    text-shadow: 2px 2px 5px darkorange;
}

h2 {
    text-align: center;
    font-family: 'Patrick Hand', cursive;
    font-weight: normal;
    font-style: normal;
    font-size: 50px;
}

a {
    text-decoration: none;
}




#wrapper {
    width: 960px;
    margin: 0 auto;
    background-color:#fffbec;
    
}
#nav {
    text-align: center;
    background-color: #FFC000;
    margin: 0 auto;
}

#nav ul {
list-style-type: none;
}

#nav ul li{
    display: inline-block;
    padding: 5px 10px;
}

#nav a:hover {
    color:#ed1a30;
    font-size: 22px;
    font-weight: 800;
}

#nav a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: 'Montserrat Alternates', sans-serif;
   font-weight: bolder;
   font-style: normal;
}

.icon {
    width: 20px;
    height: 20px;
}

.icon:hover {
    background-color: #e4007c;
    transform: scale(1.5);

}

body {
    background-image:url(background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: repeat-x;
}

/* Artifacts section */
#left-section {
    text-align: center;
    margin: 0 auto;
    display: inline-block;
    width: 50%;
}

#right-section {
    text-align: center;
    margin: 0 auto;
    display: inline-block;
    vertical-align: top;
    width: 50%;
    float: right;
}

.screenshoots {
    width: 400px;
    height: 350px;
    margin: 10px;
    display: flex;
    justify-content:center;
    text-align: center;
    padding: 10px 0px 5px 0px;
    margin-top: 20px; 
}

.screenimg {
    width: 400px;
    height: 150px;
}

#content1 {
    text-align: center;
    margin: 0 auto;
}

.linkArtifact {
    color:whitesmoke;
    text-decoration: none;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bolder;
    font-size: 20px;
}

.linkArtifact:hover {
    background-color: white;
    color: black;
    font-size: 20px;
}

#content2 {
    text-align: center;
    margin: 0 auto;
    width: 640px;
    margin-left: auto;
    margin-right: auto;
}

.clear {
    clear:both; 
}

.article-column1 {
    width: 300px;
    height: 370px;
    float: left;
    margin: 10px;
    background-color:#b2b82e;
    display: inline-block;
    text-align: center;
    padding: 10px 0px 5px 0px;
    margin-top: 20px;  
}

.article-column2 {
    width: 300px;
    height: 370px;
    float: left;
    margin: 10px;
    background-color: #f99c22;
    display: inline-block;
    text-align: center;
    padding: 10px 0px 5px 0px;
    margin-top: 20px;  
}

.article-column3 {
    width: 300px;
    height: 370px;
    float: left;
    margin: 10px;
    background-color: #e35e72;
    display: inline-block;
    text-align: center;
    padding: 10px 0px 5px 0px;
    margin-top: 20px;
}

.article-column4 {
    width: 300px;
    height: 370px;
    float: left;
    margin: 10px;
    background-color: #d04254;
    display: inline-block;
    text-align: center;
    padding: 10px 0px 5px 0px;
    margin-top: 20px;  
}

.article-column5 {
    width: 300px;
    height: 370px;
    float: left;
    margin: 10px;
    background-color: #02a395;
    display: inline-block;
    text-align: center;
    padding: 10px 0px 5px 0px;
    margin-top: 20px;
}

.artifactimg {
    width: 200px;
    height: 220px;
}

.artifactdescription {
    color: #FDFCFB;
    font-family: 'Patrick Hand', cursive;
    font-weight: normal;
    font-style: normal;
    font-size: 19px;
}
.artifactdescription:hover {
    font-size: 25px;
    color:black;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Contact Me page */

form {
    background: #02a395;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}

form h2 {
    color:#fffbec;
    font-weight: 800;
    margin-bottom: 20px;
}

form input, form textarea {
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background:#fffbec;
    font-size: 16px;
}

form button {
    padding: 15px;
    background: #fffbec ;
    color: black;
    font-size: 18px;
    border: 0;
    outline:none;
    cursor: pointer;
    width: 150px;
    margin-top: 20px;
    border-radius: 30px;
    align-self: center;
}

/* Thank you page   */

#gif {
    margin: 0 auto;
    display: block;
    margin-top: 50px;
    padding-bottom: 50px;
}

h4 {
    font-family: 'Patrick Hand', cursive;
    font-weight: normal;
    font-style: normal;
    font-size: 30px;   
}

.caption {
    font-family: 'Patrick Hand', cursive;
    font-weight: normal;
    font-style: normal;
    font-size: 20px; 
    color: #e4007c;
    text-align: center;
}

/* Module assignments */
.titleModule {
    font-family: 'Patrick Hand', cursive;
    font-weight: normal;
    font-style: normal;
    font-size: 40px; 
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.liModules {
    font-family: 'Patrick Hand', cursive;
    font-size: 25px;
    text-align: center;
    padding-bottom: 10px;
}

.liModules:hover {
    font-size: 30px;
    background-color: #f99c22;
    color: #0e433d;
}

/* Welcome Page */
.welcomeText {
    font-family: 'Patrick Hand', cursive;
    font-weight: normal;
    font-style: normal;
    padding: 20px;
    font-size: 30px;
}

.lastParagraph {
    font-family: 'Patrick Hand', cursive;
    font-weight: normal;
    font-style: normal;
    padding: 20px;
    font-size: 40px;
    text-align: center;
    color: #e4007c;
    -webkit-animation: colorchange 20s infinite alternate
}

@-webkit-keyframes colorchange {
    0% {
      color: blue;
    }
    10% {
      color: #8e44ad;
    }
    20% {
      color: #1abc9c;
    }
    30% {
      color: #d35400;
    }
    40% {
      color: blue;
    }
    50% {
      color:#0e433d;
    }
    60% {
      color: blue;
    }
    90% {
      color:#b2b82e;
    }
    100% {
      color:#e4007c;
    }
  }

/* About me section  */
.aboutme {
    font-family: 'Patrick Hand', cursive;
    font-weight: normal;
    font-style: normal;
    padding: 20px;
    font-size: 30px;
}

.animationPalm {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    width: 300px;
    height: auto;
}

/* Own section */
.ownTitle {
    font-family: 'Patrick Hand', cursive;
    font-weight: normal;
    font-style: normal;
    font-size: 40px; 
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.ownP {
    font-family: 'Patrick Hand', cursive;
    font-weight: normal;
    font-style: normal;
    padding: 20px;
    font-size: 30px;
}

.liTest {
    font-family: 'Patrick Hand', cursive;
    font-weight: normal;
    font-style: normal;
    
}

.listOwn {
    font-family: 'Patrick Hand', cursive;
    font-weight: normal;
    font-style: normal;
    font-size: 30px;
    text-align: center;
    list-style-type: none;
}


video {
   margin-left: 15%;
}

.fishimages {
    float: right;
    margin-top: 30px;
    margin-right: 15px;
    width: 300px;
    height: auto;
}


/* Coursework Section */

.infoCourses {
    font-family: 'Patrick Hand', cursive;
    font-size: 25px;
    text-align: left;
    padding-left: 10px;
    color: #0e433d;
    padding-bottom: 10px;
}


.titleQuarter {
    font-size: 40px;
    font-family: 'Patrick Hand', cursive;
    text-align: center;
    padding-top: 10px;
    color:black;
}

.listStyle {
    list-style-type: none;
    color: #0e433d;
}

.titleCourse {
    font-family: 'Patrick Hand', cursive;
    font-size: 25px;
    text-align: left;
    padding-left: 10px;
    color: #0e433d;
    padding-bottom: 10px;
    background-color: #b2b82e;
}

.cLink {
    font-family: 'Patrick Hand', cursive;
    font-size: 25px;
    text-align: left;
    padding-left: 10px;
    padding-bottom: 10px;
    color: #0e433d;

}
.cLink:hover {
    font-size: 30px;
    color: #f99c22;
}
