#title {
    font-family: 'GrandHotelRegular';
    font-weight: normal;
    font-style: normal;
    text-align: center;
    font-size: 120px;
    color: aliceblue;
    margin: 0%;
    padding: 0%;
    width: 940px;
}

body {
    background-image: url(https://assets.editorial.aetnd.com/uploads/2009/11/Colima-GettyImages-1474824994.jpg?width=3840&height=1920&crop=3840%3A1920%2Csmart&quality=75&auto=webp);
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    
}

#nav {
    background-color: dimgray;
    text-align: center;
    font-size: 20px;
    margin: 10px;
    padding: 10px 0px 5px 0px;
    width: 940px;
    margin-top: 20px;

    
}
#nav ul {
    list-style-type: none;
}
#nav ul li {
    display: inline-block;
    padding: 5px 20px;
}
#nav a {
    text-decoration: none;
    color: bisque;
}
#nav a:hover {
    color: greenyellow;
}

#content {
    overflow: auto;
    height: 100%;
}

#feature {
    display: inline-block;
    background-color: white;
    text-align: center;
    margin: 10px;
    padding: 10px 0px 5px 0px;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 940px;
    

}
#feature img {
    width: 80px;
    float: right;
    clear: right;
    display: block;
    margin: 0px auto;
}
.clear {
    clear: both;
}

.article-column1 {
    width: 300px;
    height: 150px;
    float: left;
    margin: 10px;
    background-color: lightblue;
    display: inline-block;
    text-align: center;
    padding: 10px 0px 5px 0px;
    margin-top: 20px;
    
}
.article-column2 {
    width: 300px;
    height: 150px;
    float: left;
    margin: 10px;
    background-color: brown;
    display: inline-block;
    text-align: center;
    padding: 10px 0px 5px 0px;
    margin-top: 20px;
    
}
.article-column3 {
    width: 300px;
    height: 150px;
    float: left;
    margin: 10px;
    background-color: burlywood;
    display: inline-block;
    text-align: center;
    padding: 10px 0px 5px 0px;
    margin-top: 20px;
    
}
#footer {
    display: inline-block;
    background-color: goldenrod;
    text-align: center;
    margin: 10px;
    padding: 10px 0px 5px 0px;
    font-size: 20px;
    width: 940px;
    margin-top: 20px;
    
}
#validator {
    text-align: center;
}
